/* src/Login.css */

.login-container {
    max-width: 400px; /* Define uma largura máxima para o contêiner de login */
    margin: 0 auto; /* Centraliza o contêiner horizontalmente */
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px; /* Arredonda os cantos do contêiner */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao contêiner */
    text-align: center; /* Centraliza o texto dentro do contêiner */
}

.login-container h2 {
    margin-bottom: 1rem;
    color: #6f42c1; /* Cor do título */
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #6f42c1; /* Roxo */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #5a2a91; /* Tom mais escuro de roxo */
}