/* src/Header.css */

.header {
    background: rgba(33, 19, 232, 1); 
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .header nav ul {
    list-style: none;
    padding: 0;
  }
  
  .header nav ul li {
    display: inline;
    margin: 0 1rem;
  }
  
  .header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .header nav ul li a:hover {
    text-decoration: underline;
  }